.SemesterinnerContainerWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mangeSemesterLabelInputWwrapperDataTime{
    display: flex;
    flex-direction: column;
}
.mangeSemesterLabelInputWwrapperDataTime label{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 88, 88);
  }
.mangeSemesterLabelInputWwrapperDataTime input{
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.089);
    height: 20px;
    border-radius: 15px;
    padding: 10px;
    outline: 0;
    margin: 5px 0px;
    box-shadow: -1px 2px 20px rgba(25, 0, 255, 0.13);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 88, 88);
}
.SemesterStartButton{
    border-width: 0px;
    width: 150px;
    height: 40px;
    margin: 20px 13.5%;
    background: linear-gradient(to right, #0000ff, #8800ff);
    border-radius: 10px;
    color: aliceblue;
    font-weight: 800;
  }
  .SemesterStartButton:hover{
    background: linear-gradient(to right, #0000aa, #6000b4);
  }